<h1>{{title}}</h1>
<h2>Мои книги</h2>
<ul class="books">
    <li *ngFor="let book of books"
        [class.selected]="book === selectedBook"
        (click)="onSelect(book)">
        <span class="badge">{{book.id}}</span> {{book.name}}
    </li>
</ul>
<div *ngIf="selectedBook">
    <h2>{{selectedBook.name}} детали!</h2>
    <div>
        <label>Id: </label>{{selectedBook.id}}
    </div>
    <div>
        <label>Название: </label>
        <input [(ngModel)]="selectedBook.name" placeholder="Название" />
    </div>
</div>
